<div class="app-footer-wrap">
  <footer class="app-footer">
    <div>
      <h1>test</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ultricies nulla, eu dignissim felis. Phasellus at.
      </p>
    </div>

    <div>
      <h1>test</h1>
      <p>
        Mauris iaculis dignissim interdum. Sed congue finibus nulla. Mauris malesuada malesuada odio vitae commodo.
      </p>
    </div>

    <div>
      <h1>test</h1>
      <p>
        Pellentesque id urna sit amet tellus interdum aliquet. Duis sodales arcu sapien, quis consequat turpis aliquet ac.
      </p>
    </div>

    <div>
      <h1>test</h1>
      <p>
        Morbi vitae luctus purus. Pellentesque at accumsan turpis. Praesent efficitur ligula ut rhoncus commodo.
      </p>
    </div>

  </footer>
</div>
