.money-exchange-form {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px 15%;

  &>div {
    width: 100%
  }

  .row{
    display: flex;

    .col{
      flex: 1;
      margin-bottom: 20px;

      &:not(:last-child){
        margin-right: 50px;
      }
    }
  }
}

@media (max-width: 860px) {
  .btn {
    width: 100%
  }

  .money-exchange-form {
    padding: 20px 10px;

    .row{
      flex-direction: column;

      .col:not(:last-child){
        margin-right: 0px;
      }
    }
  }
}
